.container{
   text-align: center;
   background-color: darkgray;
   border: black;
   padding: 20px;
};

.row{
    display: inline-block;
    font-size: 24px;
}

.bodyz{
    background-color: lightgoldenrodyellow;
}

.wordz{
    font-size: 20px;
}
.topline{
    text-align: center; 
}